/**
Theme Name: Astra Child
Author: Majkopet
Author URI: http://wpastra.com/about/
Description: Astra is the fastest, fully customizable & beautiful theme suitable for blogs, personal portfolios and business websites. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with schema.org code integrated so search engines will love your site. Astra offers plenty of sidebar options and widget areas giving you a full control for customizations. Furthermore, we have included special features and templates so feel free to choose any of your favorite page builder plugin to create pages flexibly. Some of the other features: # WooCommerce Ready # Responsive # Compatible with major plugins # Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and beautiful theme!
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child
Template: astra
*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f3f3f3;
}


.site-content > .ast-container {
    display: flex;
    flex-flow: row wrap;
    background-color: #fff;
    -moz-box-shadow: 0 0 2px #999;
    -webkit-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

.site-content > .ast-container > #primary,
.site-content > .ast-container > #secondary {
    float: none;
    margin-top: 1rem;
}

.secondary .sidebar-main {
    position: relative;
    height: 100%;
}

.ast-single-post-order .entry-title {
    margin: 0.625rem 0;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.27;
}

.ast-single-post-order .entry-meta {
    display: none;
}

body.ast-header-break-point .ast-mobile-header-inline .main-header-container,
body.ast-header-break-point .ast-mobile-header-stack .main-header-container {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

body.ast-header-break-point .site-header .main-header-bar-wrap .site-branding,
body.ast-header-break-point .ast-mobile-header-stack .ast-mobile-menu-buttons {
    flex: 0 0 auto;
    width: auto;
}

body.ast-header-break-point .ast-mobile-header-stack .ast-mobile-menu-buttons {
    padding-top: 0;
}

/*Toggle menu button*/
body.ast-header-break-point .ast-mobile-menu-buttons .ast-button-wrap .ast-mobile-menu-buttons-minimal {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 8px 5px 5px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    text-align: center;
    overflow: hidden;
}

body.ast-header-break-point .ast-mobile-menu-buttons .ast-button-wrap .ast-mobile-menu-buttons-minimal .menu-toggle-icon {
    display: none;
}

body.ast-header-break-point .ast-mobile-menu-buttons .ast-button-wrap .ast-mobile-menu-buttons-minimal:before {
    display: block;
    width: 100%;
    height: 14px;
    content: '';
    background: #fff;
    background: -moz-linear-gradient(0deg, #333333 0%, #333333 20%, #ffffff 20%, #ffffff 40%, #333333 40%, #333333 60%, #ffffff 60%, #ffffff 80%, #333333 80%, #333333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, bottom bottom, top top, color-stop(0%,#333333), color-stop(20%,#333333), color-stop(20%,#ffffff), color-stop(40%,#ffffff), color-stop(40%,#333333), color-stop(60%,#333333), color-stop(60%,#ffffff), color-stop(80%,#ffffff), color-stop(80%,#333333), color-stop(100%,#333333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(0deg, #333333 0%, #333333 20%, #ffffff 20%, #ffffff 40%, #333333 40%, #333333 60%, #ffffff 60%, #ffffff 80%, #333333 80%, #333333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(0deg, #333333 0%, #333333 20%, #ffffff 20%, #ffffff 40%, #333333 40%, #333333 60%, #ffffff 60%, #ffffff 80%, #333333 80%, #333333 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(0deg, #333333 0%, #333333 20%, #ffffff 20%, #ffffff 40%, #333333 40%, #333333 60%, #ffffff 60%, #ffffff 80%, #333333 80%, #333333 100%); /* IE10+ */
    background: linear-gradient(0deg, #333333 0%, #333333 20%, #ffffff 20%, #ffffff 40%, #333333 40%, #333333 60%, #ffffff 60%, #ffffff 80%, #333333 80%, #333333 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: inherit;
    font-size: 0;
}

body.ast-header-break-point .ast-mobile-menu-buttons .ast-button-wrap .ast-mobile-menu-buttons-minimal:after {
    display: block;
    width: 100%;
    margin-top: auto;
    content: 'menü';
    font-family: sans-serif;
    font-size: 9px;
    font-weight: 900;
    color: inherit;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
}

/* Custom post meta box style start */
.custom-post-meta {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0.625rem 0 1rem;
}

.custom-post-meta--avatar,
.custom-post-meta--text {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.75rem;
    color: #777;
}

.custom-post-meta--avatar {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.custom-post-meta--avatar img {
    max-width: 100%;
}

.custom-post-meta--text {
    padding-left: 0.625rem;
}

.custom-post-meta--text .custom-post-meta--author a {
    color: #333;
    font-weight: 600;
    text-decoration: none;
}

.custom-post-meta--text .custom-post-meta--author a:hover {
    color: #777;
}
/* Custom post meta box style end */

/* Custom table style start */
table.custom-table {
    border-collapse: collapse;
    max-width: 570px;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 1px solid #ccc;
}

table.custom-table td,
table.custom-table th {
    border: 1px solid #ccc;
    padding: 10px;
}

table.custom-table th {
    text-align: center;
    font-weight: bold;
}

table.custom-table td:first-child {
    text-align: center;
}

table.custom-table td img {
    max-width: 24px;
    height: auto;
}
/* Custom table style end */

/* Table of contents style start */
.add-table-contents {
    display: inline-block;
    max-width: 100%;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #aaa;
    background-color: #f9f9f9;
}

.add-table-contents::before {
    display: table;
    content: "";
    clear: both;
}

.add-table-contents .add-table-contents__title {
    margin-bottom: 0;
    font-size: 0.875rem;
    font-weight: 700;
}

.add-table-contents .add-table-contents__list {
    margin: 0;
    padding: 0;
    background: none;
    font-size: 0.875rem;
    list-style-position: inside;
}

.add-table-contents .add-table-contents__list li {
    line-height: 1.86;
    text-shadow: 1px 1px #fff;
    word-wrap: break-word;
}

.add-table-contents .add-table-contents__list li a {
    text-decoration: underline;
    transition: all 0.3s ease;
}

.add-table-contents .add-table-contents__list li a:hover {
    color: #222;
    text-decoration: none;
}

@media screen and (min-width: 991.98px) {
    /*.site-main .add-table-contents {*/
    /*    max-width: 50%;*/
    /*}*/
}
/* Table of contents style end */

/*Added content section style start*/
.add-content-section .add-content-section__title {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    border-bottom: 1px solid #808080;
    border-top: 1px solid #808080;
    background-color: #005072;
    color: #fff;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.11;
}

.add-content-section .custom-heading {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    padding: 0.625rem 0.3125rem;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    background-color: #f9f9f9;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25;
}

.add-content-section ul.custom-list {
    list-style: none;
    margin: 0;
    padding: 0 0 1.5rem;
}

.add-content-section ul.custom-list li {
    margin: 0 0 0 1.25rem;
    padding: 0.3125rem 0;
}

.add-content-section ul.custom-list li::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 8px;
    height: 8px;
    margin-right: 0.625rem;
    border: 2px solid transparent;
    border-top-color: #333;
    border-right-color: #333;
    transform: rotate(45deg) translate(-2px);
    transform-origin: center center;
}
/*Added content section style end*/

/* Comparison table style start */
.text-green {
    color: #008000;
}

.info-icon {
    display: inline-block;
    vertical-align: middle;
    min-width: 14px;
    height: 14px;
    margin-left: 4px;
    border-radius: 7px;
    background-color: #999;
    color: #fff;
    font-family: "Times New Roman", serif;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    line-height: 14px;
}

.icon-chevron {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-left: 4px;
    background: transparent url('images/down-chevron.svg') no-repeat center center/contain;
    color: #333;
    font-size: 0;
    transform-origin: center center;
    transition: all 0.3s ease;
}

.add-content__table {
    font-size: 0.8125rem;
    color: #333;
    line-height: 1.11;
}

.add-content__table .container {
    padding-right: 5px;
    padding-left: 5px;
}

.add-content__table .row {
    margin-right: -5px;
    margin-left: -5px;
}

.add-content__table .row [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.add-content__table-th {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    color: #999;
    font-size: 0.6875rem;
}

.add-content__table-td {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #bbb;
    background-color: #fff;
}

.add-content__table-td-bt {
    margin: 0.625rem 0;
    border-top: 1px dashed #ccc;
}

.add-content__table-td img {
    max-width: 100%;
    height: auto;
}

.add-content__table-td-rating-box > span {
    display: inline-block;
    width: 100%;
    font-size: 11px;
    color: #999;
}

.add-content__table-td-rating {
    display: inline-block;
    position: relative;
    width: auto;
}

.add-content__table-td-rating-total {
    position: relative;
    width: 72px;
    height: 12px;
    margin: 2px 0;
    font-size: 0;
    overflow: hidden;
}

.add-content__table-td-rating-total::after  {
    display: inline-block;
    background: transparent url('images/stars1.svg') no-repeat left top/contain;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.add-content__table-td-rating-bar {
    background-color: #ff6f00;
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 0;
    z-index: 0;
}

.add-content__table-td-rating-stars {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.add-content__table-td-rating-stars img {
    width: 100%;
    height: 100%;
}

.add-content__table-td-rating-details {
    display: none;
    max-width: 270px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 11px;
    position: absolute;
    top: 100%;
    left: 100%;
    z-index: 1000;
}

.add-content__table-td-rating-details p,
.add-content__table-td-rating-details .add-content__table-td-rating-total:not(:last-child) {
    margin-bottom: 1rem;
}

.add-content__table-td-rating > .add-content__table-td-rating-total:hover + .add-content__table-td-rating-details {
    display: block;
}

.info-btn-automaten {
    display: inline-block;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    line-height: 1.3;
}

.info-btn-automaten:hover,
.info-btn-automaten:visited {
    text-decoration: none;
    color: #333;
}

.automaten-block {
    display: none;
    min-width: 300px;
    border: 1px solid #bbb;
    box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.2);
    background-color: #fff;
    text-align: left;
    position: absolute;
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.automaten-block.open {
    display: inline-block;
}

.automaten-block::before {
    display: inline-block;
    width: 15px;
    height: 15px;
    content: "";
    background-color: #f2f2f2;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
}

.automaten-block__head {
    padding: 10px 5px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    font-weight: 700;
}

.automaten-block__body {
    padding: 5px ;
}

.automaten-block__body-section:not(:last-child) {
    margin-bottom: 0.9375rem;
    border-bottom: 1px solid #bbb;
}

.automaten-block__body-section p {
    margin-bottom: 0.9375rem;
    line-height: 1.2;
}

.automaten-block__body-section img,
.payment-block img {
    width: 32px;
    max-width: 100%;
}

.add-content__table-td-btn {
    display: inline-block;
    min-width: 115px;
    max-width: 100%;
    margin-bottom: 0.625rem;
    padding: 0.5625rem 0.625rem 0.6875rem;
    background-color: #47a447;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
    color: #fff;
    font-size: 0.8125rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    line-height: 1.15;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.add-content__table-td-btn:hover {
    background-color: #5cb85c;
    color: #fff;
    text-decoration: none;
    outline: none;
}

.add-content__table-td-nav-tabs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0.9375rem;
}

.add-content__table-td-nav-tabs .nav-tabs {
    max-width: 100%;
    margin: 0;
    border-bottom: 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.add-content__table-td-nav-tabs .nav-tabs .nav-item .nav-link {
    position: relative;
    display: block;
    margin-right: 3px;
    padding: 4px 20px 6px;
    border: 1px solid #ddd;
    border-radius: 0;
    background-color: #fff;
    color: #333;
    font-size: 13px;
    white-space: nowrap;
    text-decoration: none;
}

.add-content__table-td-nav-tabs .nav-tabs .nav-item .nav-link:focus {
    outline: none;
}

.add-content__table-td-nav-tabs .nav-tabs .nav-item .nav-link.active {
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    background-color: #fff;
    color: #333;
    cursor: default;
    height: 34px;
    z-index: 2;
}

.add-content__table-td-nav-tabs .nav-tabs .nav-item .nav-link.active .icon-chevron {
    transform: rotate(180deg);
}

.add-content__table-td-nav-tabs .nav-tabs .nav-item .nav-link > span {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    word-wrap: break-word;
}

.add-content__table-td-nav-content .tab-pane .container {
    padding-right: 10px;
    padding-left: 10px;
}

.add-content__table-td-nav-content .tab-pane .row {
    margin-right: -10px;
    margin-left: -10px;
}

.add-content__table-td-nav-content .tab-pane .row [class*="col-"] {
    padding-right: 10px;
    padding-left: 10px;
}

.add-content__table-td-nav-content .tab-pane > .container {
    padding-top: 0.625rem;
    border-top: 1px solid #ddd;
}

.nav-content--section {
    margin-bottom: 1.25rem;
    line-height: 1.35;
}

.nav-content--section .title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 0.3125rem;
}

.nav-content--section .title h4 {
    margin: 0;
    padding-right: 0.625rem;
    font-size: 0.9375rem;
    color: #999;
}

.nav-content--section .title img {
    width: 25px;
}

.nav-content--section > .row {
    padding-top: 2px;
    padding-bottom: 2px;
}

.check-list {
    margin: 0;
    list-style: none;
}

.check-list li {
    padding-left: 17px;
    position: relative;
}

.check-list li::before {
    display: inline-block;
    width: 11px;
    height: 11px;
    content: "";
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 3px;
    left: 0;
}

.check-list li.check::before {
    background-image: url('images/check-mark.svg');
}

.check-list li.times::before {
    background-image: url('images/times.svg');
}

.nav-content--section-dropdown-btn {
    display: inline-block;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

.nav-content--section-dropdown-btn:hover,
.nav-content--section-dropdown-btn:visited {
    color: #333;
    text-decoration: none;
}

.nav-content--section-dropdown-btn[aria-expanded="true"] .icon-chevron {
    transform: rotate(180deg);
}

.nav-content--section-dropdown-btn + .collapse.show .row {
    padding-bottom: 0.25rem;
}

.add-content__table-td-bonus-box {
    position: relative;
}

.bonus-btn {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    padding: 4px 20px 6px;
    border: none;
    border-radius: 0;
    background-color: #ff7500;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
}

.bonus-btn:hover,
.bonus-btn:visited,
.bonus-btn:focus {
    background-color: #ff7500;
    color: #fff;
}

.bonus-btn:focus {
    outline: none;
}

.bonus-btn > span {
    display: inline-block;
    vertical-align: middle;
}

.bonus-btn .info-icon {
    min-width: 13px;
    height: 13px;
    background-color: #fff;
    color: #ff7500;
    font-size: 10px;
    line-height: 13px;
}

.bonus-text {
    display: none;
    min-width: 300px;
    border: 1px solid #bbb;
    box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.2);
    background-color: #fff;
    text-align: left;
    position: absolute;
    top: calc(100% + 12px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.bonus-text.open {
    display: inline-block;
}

.bonus-text::before {
    display: inline-block;
    width: 15px;
    height: 15px;
    content: "";
    background-color: #f2f2f2;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
}

.bonus-text--heading {
    padding: 10px 5px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    font-weight: 700;
}

.bonus-text--body {
    padding: 5px ;
}

.bonus-text--body p {
    margin-bottom: 0;
    line-height: 1.2;
}
/* Comparison table style end */

/* Product section start */
.add-content__product {
    padding: 0.625rem;
    border: 2px solid #2b7a00;
    border-radius: 4px;
}

.add-content__product-content {
    text-align: center;
}

.add-content__product-content-desc {
    margin-bottom: 0.9375rem;
}

.add-content__product-content-desc {
    font-size: 1.25rem;
    color: #2b7a00;
    line-height: 1.2;
}

.add-content__product-content-desc a {
    color: inherit;
}

.add-content__product-content-note {
    margin: 0.3125rem 0 0.9375rem;
    padding: 0.625rem 1.25rem;
    border-radius: 4px;
    background-color: #f5f5f5;
    font-size: 1rem;
    line-height: 1.5;
}

.add-content__product-content-note > span {
    display: inline-block;
    vertical-align: middle;
}

.add-content__product-content-note .add-content__product-content-note-text {
    font-weight: 600;
    text-transform: uppercase;
}

.add-content__product-btn {
    display: block;
    width: 100%;
    padding: 0.625rem;
    border: 1px solid #2b7a00;
    border-radius: 6px;
    background-color: #2b7a00;
    color: #fff;
    font-size: 0.9375rem;
    text-align: center;
    line-height: 1.33;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.add-content__product-btn:hover {
    color: #fff;
    border-color: #369900;
    background-color: #369900;
    text-decoration: none;
}

.add-content__product-btn > span {
    display: inline-block;
    vertical-align: middle;
}

.icon-cart {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background: transparent url('images/cart.svg') no-repeat center center/contain;
    color: #333;
    font-size: 0;
}
/* Product section end */

/*Pros and cons section style start*/
.add-content__prosncons-col .add-content__prosncons-col-h {
    margin-bottom: 1rem;
    padding: 0.625rem 0.9375rem;
    font-size: 1.125rem;
    font-weight: 700;
    color: #fff;
}

.add-content__prosncons-col .add-content__prosncons-col-list {
    list-style: none;
    margin: 0 0 1rem;
}

.add-content__prosncons-col .add-content__prosncons-col-list  li {
    margin: 0 0 0 1.25rem;
    padding: 0.3125rem 0;
}

.add-content__prosncons-col .add-content__prosncons-col-list  li::before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.625rem;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1;
}

.add-content__prosncons-col .add-content__prosncons-col-list  li > span {
    display: inline-block;
    vertical-align: middle;
}

.add-content__prosncons-col.pros .add-content__prosncons-col-h {
    background-color: #2b7a00;
}

.add-content__prosncons-col.cons .add-content__prosncons-col-h {
    background-color: #ff0000;
}

.add-content__prosncons-col.pros .add-content__prosncons-col-list  li::before {
    content: "\2713";
    color: #2b7a00;
}

.add-content__prosncons-col.cons .add-content__prosncons-col-list  li::before {
    content: "\2298";
    color: #ff0000;
}
/*Pros and cons section style end*/

/* Comment form styles start */
.comments-area .comment-form-cookies-consent {
    display: none;
}
/* Comment form styles end */

@media screen and (min-width: 1201px) {
   /* .ast-container {
        max-width: 1110px;
    }*/
}

@media screen and (min-width: 768px) {
    .ast-custom-right-post-thumb {
        width: 50%;
        float: right;
        padding-left: 15px;
    }
}

@media screen and (max-width: 767.98px) {
    .sidebar-main .add-table-contents {
        display: none;
    }

    .add-content-section .add-content-section__title {
        font-size: 1.25rem;
    }

    .add-content-section .custom-heading {
        font-size: 1.125rem;
    }

    .add-content-section ul.custom-list li::before {
        width: 6px;
        height: 6px;
    }

    .add-content__prosncons-col .add-content__prosncons-col-list  li::before {
        font-size: 1rem;
    }

    .info-btn {
        display: inline-block;
        vertical-align: middle;
        margin-top: 10px;
        padding: 4px 5px 6px;
        border: none;
        border-radius: 0;
        background-color: transparent;
        color: #333;
        cursor: pointer;
        font-size: 11px;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        position: relative;
    }

    .info-btn:hover,
    .info-btn:visited,
    .info-btn:focus {
        background-color: transparent;
        color: #333;
    }

    .info-btn:focus {
        outline: none;
    }

    .info-btn > span {
        display: inline-block;
        vertical-align: middle;
    }

    .info-btn .info-icon {
        min-width: 11px;
        height: 11px;
        font-size: 8px;
        line-height: 11px;
    }

    .info-text {
        display: none;
        min-width: 270px;
        border: 1px solid #bbb;
        box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.2);
        background-color: #fff;
        text-align: left;
        position: absolute;
        top: calc(100% + 8px);
        left: 0;
        z-index: 1000;
    }

    .info-text.open {
        display: inline-block;
    }

    .info-text::before {
        display: inline-block;
        width: 15px;
        height: 15px;
        content: "";
        background-color: #f2f2f2;
        border-top: 1px solid #bbb;
        border-right: 1px solid #bbb;
        position: absolute;
        top: 0;
        left: 30px;
        transform: translate(-50%, -60%) rotate(-45deg);
    }

    .info-text--head {
        padding: 10px 5px;
        background-color: #f2f2f2;
        border-bottom: 1px solid #ddd;
        font-weight: 700;
    }

    .info-text--body {
        padding: 5px ;
    }

    .info-text--body p {
        margin-bottom: 0;
        font-size: 11px;
        line-height: 1.2;
    }

    .add-content__table-td-rating-details {
        left: 50%;
        transform: translateX(-50%);
    }

    .add-content__table-td-btn {
        min-width: initial;
        width: auto;
    }

    .add-content__table-td-nav-tabs {
        margin-top: 0;
    }

    .bonus-btn {
        margin-bottom: 10px;
        padding: 4px 5px 6px;
        white-space: normal;
    }

    .bonus-text {
        min-width: 258px;
        top: 100%;
        left: 0;
        transform: translateX(0%);
    }

    .add-content__table-td-nav-tabs .nav-tabs {
        width: 100%;
    }
    .add-content__table-td-nav-tabs .nav-tabs .nav-item {
        flex: 0 0 auto;
        max-width: 50%;
    }

    .add-content__table-td-nav-tabs .nav-tabs .nav-item .nav-link {
        padding: 4px 5px 6px;
        font-size: 0.6875rem;
    }

    .add-content__table-td-nav-tabs .nav-tabs .nav-item .nav-link.active {
        height: 46px;
    }

    .add-content__table-td-nav-tabs .nav-tabs .nav-item:last-child .nav-link {
        margin-right: 0;
    }
}
