/* 
Theme Name:		 Iconic One Child
Theme URI:		 http://childtheme-generator.com/
Description:	 Iconic One Child is a child theme of Iconic One, created by ChildTheme-Generator.com
Author:			 Bats V
Author URI:		 http://childtheme-generator.com/
Template:		 iconic-one
Version:		 1.0.0
Text Domain:	 iconic-one-child
*/


/*
    Add your custom styles here
*/

body,
h1,
.entry-title a,
.entry-content h1,
.entry-content h1 a,
h2,
.entry-content h2,
.entry-content h2 a,
h3,
.entry-content h3,
.entry-content h3 a,
h4,
.entry-content h4,
.entry-content h4 a,
h5,
.entry-content h5,
.entry-content h5 a,
h6,
.entry-content h6,
.entry-content h6 a {
    color: #3a3a3a;
}

body * {
    box-sizing: border-box;
}

a,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
}

/*Bootstrap grid styles start*/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.d-none {
    display: none!important;
}

.align-items-start {
    -webkit-box-align: start!important;
    -ms-flex-align: start!important;
    align-items: flex-start!important;
}

.align-items-end {
    -webkit-box-align: end!important;
    -ms-flex-align: end!important;
    align-items: flex-end!important;
}

.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.align-items-baseline {
    -webkit-box-align: baseline!important;
    -ms-flex-align: baseline!important;
    align-items: baseline!important;
}

.align-items-stretch {
    -webkit-box-align: stretch!important;
    -ms-flex-align: stretch!important;
    align-items: stretch!important;
}

.justify-content-start {
    -webkit-box-pack: start!important;
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}

.justify-content-end {
    -webkit-box-pack: end!important;
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}

.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.justify-content-between {
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.justify-content-around {
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
}

.align-self-start {
    -ms-flex-item-align: start!important;
    align-self: flex-start!important;
}

.align-self-end {
    -ms-flex-item-align: end!important;
    align-self: flex-end!important;
}

.align-self-center {
    -ms-flex-item-align: center!important;
    align-self: center!important;
}

.align-self-baseline {
    -ms-flex-item-align: baseline!important;
    align-self: baseline!important;
}

.align-self-stretch {
    -ms-flex-item-align: stretch!important;
    align-self: stretch!important;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .d-md-block {
        display: block!important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
/*Bootstrap grid styles end*/

.container .site-content,
.container .widget-area {
    width: 100%;
    float: none;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}

.container .site-content {
    padding-right: 15px;
}

.themonic-nav li {
    font-size: 13px;
}

.site-content.full-width {
	box-sizing: border-box;
    border-right: none;
    margin: 0;
    padding: 30px 15px 0;
    width: 100%;
	float: none;
}

body .site-content .entry-title {
    text-transform: none;
}

body .site-content .entry-title::first-letter {
    text-transform: uppercase;
}

/* The Masonry Container */
.masonry {
    max-width: 100%;
    column-gap: 20px;
}

/* The Masonry Brick */
.masonry__brick {
    padding-bottom: 5px;
    break-inside: avoid;
}
.masonry__brick-outer {
    background: #fff;
    margin: 0 0 15px;
    font-weight: 300;
    border: 1px solid #c4c4c4;
    text-align: left;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 2px 2px 2px 0 rgba(0,0,0,.1);
    break-inside: avoid;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.masonry__brick-outer:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.masonry__brick-top .masonry__brick-top-overlayer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #c4c4c4;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.masonry__brick-top .masonry__brick-top-overlayer * {
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
    text-shadow: 1px 1px 0 #333;
}

.masonry__brick-top .masonry__brick-top-overlayer p {
    margin-bottom: 10px;
}

.masonry__brick-top .masonry__brick-top-overlayer .secondary-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
}

.masonry__brick-top .masonry__brick-top-overlayer img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.masonry__brick-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    background-color: #333;
}

.masonry__brick-center-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding: 2px;
    background-color: #333;
    overflow: hidden;
    font-size: 0;
    position: relative;
}

.masonry__brick-center-item.current:before {
    display: block;
    content: '';
    width: 34px;
    height: 20px;
    border-bottom: 10px solid #fff;
    border-left: 10px solid #fff;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    -o-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 3;
}

.masonry__brick-center-item a {
    display: inline-block;
    width: 100%;
    height: auto;
    position: relative;
}

.masonry__brick-center-item a:before {
    display: inline-block;
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    opacity: 0;
}

.masonry__brick-center-item a:hover:before {
    opacity: 1;
}

.masonry__brick-center-item.current a {
    opacity: 0.6;
}

.masonry__brick-center-item .masonry__brick-center-item--inner {
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.masonry__brick-bottom {
    padding: 20px 20px 0;
}

.masonry__brick-bottom .text a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}

.masonry__brick-bottom .text a p {
    margin-bottom: 5px;
}

.masonry__brick-bottom .text a:hover,
.masonry__brick-bottom .text a:focus,
.masonry__brick-bottom .text a:visited {
    color: #3a3a3a;
}

.masonry__brick-bottom .author {
    margin-bottom: 0;
    padding: 0 0 20px;
    font-size: 14px;
    font-weight: 700;
    color: #00a;
    line-height: 20px;
}

.masonry__brick-bottom .author.islink + .author {
    display: none;
}

.masonry__brick-bottom .author a {
    color: #00a;
    line-height: inherit;
}

.masonry__brick-bottom .author a:hover {
    text-decoration: underline;
}

.masonry__brick-bottom .author a:hover,
.masonry__brick-bottom .author a:focus,
.masonry__brick-bottom .author a:visited {
    color: #23527c;
}

/*single post masonry brick styles*/
.single-post .entry-title {
    text-transform: capitalize;
}
.single-post .masonry__brick-outer {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.single-post .masonry__brick-top .masonry__brick-top-overlayer {
    padding: 0;
}

.single-post .masonry__brick-top .masonry__brick-top-overlayer * {
    font-size: 36px;
    line-height: 1.2;
}

.single-post .masonry__brick-top .masonry__brick-top-overlayer .secondary-text {
    font-size: 24px;
    line-height: 1.1;
}

.single-post .masonry__brick-bottom .text,
.single-post .masonry__brick-bottom .text p {
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
}

.single-post .masonry__brick-bottom .text p {
    margin-bottom: 5px;
}

.single-post .masonry__brick-bottom .author {
    padding: 0 0 30px;
    font-size: 16px;
}

.single.single-post .post-navigation {
    padding: 10px 0 0;
    margin-bottom: 10px;
    border: none;
    background: transparent;
}

.single.single-post .post-navigation a {
    height: auto;
    min-height: 24px;
    padding: 0 5px;
}

.single.single-post .post-navigation a .meta-nav {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: #4663cd;
    color: transparent;
    font-size: 16px;
    font-weight: 700;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
}

.single.single-post .post-navigation a:hover .meta-nav {
    background-color: #2d48ad;
}

.single.single-post .post-navigation a .meta-nav:before {
    box-sizing: inherit;
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    border-top: 4px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
}

.single.single-post .post-navigation .nav-previous a .meta-nav:before {
    border-left: 4px solid #fff;
    -webkit-transform: translate(-30%, -50%) rotate(-45deg);
    -moz-transform: translate(-30%, -50%) rotate(-45deg);
    -ms-transform: translate(-30%, -50%) rotate(-45deg);
    -o-transform: translate(-30%, -50%) rotate(-45deg);
    transform: translate(-30%, -50%) rotate(-45deg);
}

.single.single-post .post-navigation .nav-next a .meta-nav:before {
    border-right: 4px solid #fff;
    -webkit-transform: translate(-70%, -50%) rotate(45deg);
    -moz-transform: translate(-70%, -50%) rotate(45deg);
    -ms-transform: translate(-70%, -50%) rotate(45deg);
    -o-transform: translate(-70%, -50%) rotate(45deg);
    transform: translate(-70%, -50%) rotate(45deg);
}

/*share buttons block*/
.share-btn-block {
    padding: 6px 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #c4c4c4;
}

.share-btn-block .a2a_kit .a2a_svg {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

/*Pagination styles*/
.site-content .pagination {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    line-height: inherit;
}

.pagination {
    display: inline-block;
}

.screen-reader-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px !important;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.pagination {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.pagination .nav-links {
    margin: 10px 0;
}
.pagination .page-numbers {
    margin: 20px 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.pagination a.page-numbers,
.pagination span.page-numbers {
    color: #fff;
    font-size: 1.125rem;
    line-height: 32px;
    padding: 0 11px;
    background-color: #7f7f7f;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid #7f7f7f;
}
.pagination a.page-numbers.current,
.pagination a.page-numbers:not(.dots):hover,
.pagination span.page-numbers.current,
.pagination span.page-numbers:not(.dots):hover {
    border-color: #bd081c;
    background-color: #bd081c;
    color: #fff;
}
.pagination a.page-numbers.prev,
.pagination span.page-numbers.prev,
.pagination a.page-numbers.next,
.pagination span.page-numbers.next {
    position: relative;
    width: 33px;
    height: 34px;
    border-color: #7f7f7f;
    background-color: #7f7f7f;
    font-size: 0;
}
.pagination a.page-numbers.prev:before,
.pagination span.page-numbers.prev:before,
.pagination a.page-numbers.next:before,
.pagination span.page-numbers.next:before {
    position: absolute;
    display: inline-block;
    font-size: 1.3rem;
    top: 50%;
    left: 50%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translate(-50%, -55%);
    -moz-transform: translate(-50%, -55%);
    -o-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
}

.pagination a.page-numbers.prev:before,
.pagination span.page-numbers.prev:before {
    content: '\00ab';
}

.pagination a.page-numbers.next:before,
.pagination span.page-numbers.next:before {
    content: '\00bb';
}

.top-bar,
.bottom-bar {
    font-size: 15px;
    line-height: 1.47;
}

.bottom-bar {
    margin: 0 0 1rem;
    padding: 20px;
    background-color: #fff;
}

.top-bar p,
.bottom-bar p {
    font-size: inherit;
    margin-bottom: 20px;
    line-height: inherit;
}

.top-bar ul,
.top-bar ol,
.bottom-bar ul,
.bottom-bar ol {
    margin-bottom: 20px;
}

.top-bar ul li,
.top-bar ol li,
.bottom-bar ul li,
.bottom-bar ol li {
    margin-bottom: 5px;
    line-height: 22px;
}

.desc-text {
    font-size: 12px;
    padding: 20px 0;
    margin-bottom: 1rem;
    background-color: #fff;
    line-height: 1.83;
}


/*slick slider styles*/
.masonry__brick-center .slick-prev,
.masonry__brick-center .slick-next {
    width: 30px;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    z-index: 2;
}

.masonry__brick-center .slick-prev:before,
.masonry__brick-center .slick-next:before {
    transition: inherit;
}

.masonry__brick-center .slick-prev:hover,
.masonry__brick-center .slick-next:hover {
    background-color: rgba(0,0,0,0.6);
    border-color: rgba(0,0,0,0.6);
}

.masonry__brick-center .slick-prev:hover:before,
.masonry__brick-center .slick-next:hover:before {
    opacity: 1;
}
.masonry__brick-center .slick-prev {
    left: 0;
}

.masonry__brick-center .slick-next {
    right: 0;
}

/* Masonry on large and medium-sized screens */
@media only screen and (min-width: 768px) {
    .masonry {
        column-count: 1;
    }
}

/* Masonry on small screens */
@media only screen and (max-width: 767.98px) and (min-width: 540px) {
    .masonry {
        column-count: 1;
    }
}

@media only screen and (max-width: 767.98px) {
    .io-title-description a {
        font-size: 24px;
        padding-left: 0;
    }
    .container .site-content {
        padding-right: 0;
    }
    .single.single-post .post-navigation .nav-next,
    .single.single-post .post-navigation .nav-previous {
        width: 50%;
    }
    .single.single-post .post-navigation .nav-previous {
        text-align: left;
    }
    .single.single-post .post-navigation .nav-next {
        text-align: right;
    }
    .single.single-post .post-navigation .nav-previous a,
    .single.single-post .post-navigation .nav-next a{
        width: auto;
    }
    .single-post .masonry__brick-top .masonry__brick-top-overlayer * {
        font-size: 32px;
    }
    .single-post .masonry__brick-top .masonry__brick-top-overlayer .secondary-text {
        font-size: 18px;
    }
    .single-post .masonry__brick-bottom .text,
    .single-post .masonry__brick-bottom .text p {
        font-size: 24px;
    }
    .masonry__brick-center-item.current:before {
        -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(0.6);
        -moz-transform: translate(-50%, -50%) rotate(-45deg) scale(0.6);
        -ms-transform: translate(-50%, -50%) rotate(-45deg) scale(0.6);
        -o-transform: translate(-50%, -50%) rotate(-45deg) scale(0.6);
        transform: translate(-50%, -50%) rotate(-45deg) scale(0.6);
    }
    .pagination a.page-numbers,
    .pagination span.page-numbers {
        padding: 0 6px;
    }
    .pagination a.page-numbers.prev,
    .pagination span.page-numbers.prev,
    .pagination a.page-numbers.next,
    .pagination span.page-numbers.next {
        width: 28px;
    }
}

/* Masonry on extra-small screens */
@media only screen and (max-width: 539.98px) {
    .masonry {
        column-count: 1;
    }
}

@media only screen and (max-width: 420px) {
    .single.single-post .post-navigation .nav-links {
        -js-display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }
    .single.single-post .post-navigation .nav-next,
    .single.single-post .post-navigation .nav-previous {
        -webkit-box-flex: 1;
        -webkit-flex: auto;
        -moz-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
    }
}
